@import url("style.css");

/* a section to cover on whole footer */
.footer {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

    border-top:  7px solid;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin: auto;
    background-color: var(--white-pure);
}

/* set width and height for footer */
.footer-width {
    max-width: var(--standard-width);
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    max-height: 400px;
}

/* area of footer where styles title */
.title {
    margin: 35px auto 35px 0px;
    font-size: 70px;
    letter-spacing: 5px;
    color: var(--main-theme);
}

/* area of footer which styles paragraph and texts */
.footer-info {
    line-height: 20px;
    font-weight: 30;
    color: var(--main-sub);
    max-width: 610px;
    max-height: 290px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    font-weight:900;
}

/* area which style the grid of pictures */
.picture {
    padding: 20px;
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px 80px;
}

/* styling the box which frames the image */
.image-box {
    border-radius: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 230px;
    height: 230px;
    box-shadow: 10px 10px 2px lightgray;
    gap: 15px;
    border: 7px solid var(--main-sub);
}

/*background's for gmail image */
.gmail {
    background-color: var(--main-sub);
    border: none;
}

/* image gmail */
.image-gmail{
    padding-top: 30px;
    width: 120px;
    transition: transform 0.7s, filter 0.7s;
}

/* animation on image */
.image-gmail:hover {
    filter: drop-shadow(1px 1px 10px white);
    transform: scale(1.3);
}

/* text on image gmail */
.image-gmail-text {
    padding-bottom: 10px;
    color: var(--white-pure);
    font-size: 15px;
    font-weight: 50;
}

/* image astronut */
.image-astronut {
    display: flex;
}

/* Responsive design for tablet devices "footer responsiveness as tablet is 1270px break point" */
@media screen and (max-width: 1270px) {
    /* turn the images to the below */
    .footer-width {
        flex-direction: column;
        justify-content: space-between;
    }

    /* restyling on footer information */
    .footer-info {
        font-weight: 20;
        max-width: 500px;
        max-height: 250px;
        padding: 0px 10px;
        font-size: 18px;
    }

    /* restyling on footer information */
    .title {
        margin: 30px auto 25px 0px;
        font-size: 50px;
        letter-spacing: 4px;
    }

    /* restyling on picture section */
    .picture {
        padding: 15px;
        width: 500px;
        justify-content: space-between;
        gap: 10px 10px;
    }

    /* restyling on picture container box */
    .image-box {
        width: 180px;
        height: 180px;
        gap: 0px;
    }
    
    /*background's for gmail image */
    .gmail {
        background-color: var(--main-sub);
        border: none;
    }
    
    /* image gmail */
    .image-gmail{
        width: 100px;
    }
    
    /* animation on image */
    .image-gmail:hover {
        filter: drop-shadow(1px 1px 10px white);
        transform: scale(1.3);
    }
    
    /* text on image gmail */
    .image-gmail-text {
        font-size: 15px;
    }

    /* size: on image astronut */
    .image-astronut {
        width: 168px;;
    }
}

/* Responsive design for mobile devices */
@media screen and (max-width: 800px){
    .footer-info {
        padding: 0px 5px;
        font-size: 15px;
    }
    .title {
        margin: 30px auto 0px 0px;
        font-size: 30px;
    }
    .picture {
        max-width: 430px;
        justify-content: space-evenly;
        gap: 30px;
    }

    /* restyling on picture container box */
    .image-box {
        border-radius: 18px 0px;
        width: 100px;
        height: 100px;
        box-shadow: 5px 5px 2px lightgray;
        gap: 5px;
        border: 5px solid var(--main-sub);
    }
    .image-gmail{
        padding-top: 30px;
        width: 70px;
    }

    /* size: on image astronut to 100px */
    .image-astronut {
        width: 100px;
    }
    .image-gmail-text {
        padding-bottom: 0px;
        font-size: 9px;
        letter-spacing: 0.5px;
    }
}