@import url("style.css");

/* create */
.hero {
    display: flex;
    justify-content: center;
    max-width: 100%; /* Optional: keep the image responsive */
    height: auto;
    background-color: black;
}

/* body */
.body {
    margin: auto;
    background-color: var(--main-theme);
    min-height: 1200px;
    height: var(--full-height);
}

.screen-color {
    background-color: black;
}


.content {
    max-width: 1440px;
    margin: auto;
    color: white;
    background: var(--main-theme);
    padding: 15px 0px;
}












