@import url("style.css");

/* header */
.header {
    /* structure block */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    height: 30px;
    max-width: var(--standard-width);

    /* font & color styling */
    color: white;
    font-size: xx-large;
    font-weight: bold;
    }

.icon-burger {
    width: 35px;
}

